.borisSection {
    background: rgb(234,234,234);
    background: linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(234,234,234,1) 460px, rgba(255,255,255,1) 460px);
}

.liveExampleFlex {
    display: flex;
}

.headerH2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}

.liveExample {
    margin-bottom: 76px;
}

.borisText {
    display: flex;
    flex-direction: column;

    padding-top: 70px;
    font-size: 16px;
}

.borisColumn {
    margin-top: 69px;
    column-gap: 80px;

    display: flex;
}

.borderBoris {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 15px 57px 20px;
    position: relative;
}

.textBoris {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}

.textCenter {
    text-align: center;
}

.borderText {
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;

    left: 50%;

    transform: translate(-50%, 0%);

    background-color: rgb(234,234,234);
}

.food {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    column-gap: 63px;



    /*margin-left: 110px;*/
    margin-top:35px;
    margin-bottom: 75px;
    justify-content: space-between;
}

.layout {
    /*border: 1px solid red;*/
    /*поправил ширину для красоты*/
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}